.ims-gantt-timeline {
  width: 100%;
  position: relative;
}

.ims-gantt-timeline__canvas {
  width: 100%;
  background: #fff;
  touch-action: none;
}

.ims-gantt-timeline__canvas canvas {
  display: block;
}
